# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
/static/
/media/

# Virtualenv
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log

# Other
*.swp
*.bak
*.tmp
